@layout('main_layout')

@section("style-section")
{{style("css/checkout")}}
{{ script('js/slideshow') }}
@endsection


@section("content")
<div class="container-checkout">
    <div class="checkout">
        <h2>YOUR ORDER CODE</h2>
        <strong>1212312121</strong>
        <h2>THANK YOU</h2>
        <strong>Sometext</strong>
    </div>
</div>

@endsection     