@layout('main_layout')

@section("style-section")
{{style("css/checkout")}}
{{ script('js/slideshow') }}
@endsection


@section("content")
<div class="container-checkout">
    <div class="checkout">
        <div class="box">

        </div>
    </div>
</div>

@endsection     