@layout('main_layout')

@section("style-section")

{{ style("css/home_content")}}
{{ script('js/slideshow') }}
@endsection


@section("content")

            <div class="mainImg">

                <div class="imgcaption">

                    <h2>Lorem Ipsum</h2>

                  
                <p>{{arr[0].username}}</p>
                <p>{{arr[0].password}}</p>
                <p>{{arr[0].email}}</p>
                </div>

            </div>  

     


           
@endsection     

