<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>login</title>
    
    @include('main-css')
   
    @!section("style-section")

  {{--  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>  --}}

</head>
<body>
  
  

    
    <div class="container">
        <div class="nav">
            <div class="logo">
                SABONG             
            </div>
            <div class="menu">
                <a class="button">หน้าหลัก</a>
                <a class="button">เข้าสู่ระบบ/สมัคร</a>
                <a class="button">ร้านค้า</a>
                <a class="button"><img src="img/shoppingbag.png" ></a>
                <a class="button">คำถามที่พบบ่อย</a>
                <a class="button">ติดต่อเรา</a>

            </div>
        </div>
        <div class="content">
            @!section("content")

        </div>
        <div class="footer">
            
           <div class="address">
                <h2 class="box-content">CONTACT :</h2>
                <div class="box-content">
                    <ul>
                        <li>ที่อยู่ : CAMT</li>
                        <li>EMAIL: sabong@gmail.com</li>
                        <li>Tel : 0999x94245</li>
                    </ul>
                </div>
                
           </div>
           <div class="social">
                <h2 class="box-content">SOCIAL</h2>
                <div class="box-content">SOCIAL</div>
                <div class="box-content">SOCIAL</div>
                <div class="box-content">SOCIAL</div>
                <div class="box-content">SOCIAL</div>
                
           </div>


        </div>






    </div>


</body>

</html>