@layout('layout')

@section("style-section")
{{ style("css/login")}}
@endsection


@section("content")
    <div class="container">
        <span class="big-title">
            REGISTER
        </span>
    </div>
           
        
    @endsection
