

    .mainImg{
        
        width:100%;
        
        
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../img/mainimg.jpg") ;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: row;

        
    }
    


  
    .imgcaption{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 3% 3% 3% 3%;
        width: auto;
        backdrop-filter: blur(10px) opacity(95%)  ;
        
        font-size: 1.2vw;
        border-radius: 20px;
        
    }
    