.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 3;
    
}
.content{
   
    
}

.nav{
    background-color: rgb(255, 136, 0);
    height: 10%;

}
.menu{
display: flex;
flex-flow: row wrap;
align-items: center;
justify-content: flex-end;
list-style-type: none;
}





.slide{
    background-color: white;
    height: 70%;
}
.footer{
    height: 20%;
   
    background-color: black;
}