

    .mainImg{
        
        width:100%;
        
        
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        background-image: url("../img/mainimg.jpg") ;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding-top: 6%;
        padding-bottom: 6%;
        flex-direction: row;
        /* background-color: aqua; */
        
    }
    


  
    .imgcaption{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2% 2% 2% 2%;
        width: 50%;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 136, 0, 0.4) ;
        
        
        
        font-size: 1.2vw;
        border-radius: 20px;
        
    }
    