

    .mainImg{
        
        width:100%;
        
        background-repeat: no-repeat;
        background-image: url("../img/mainimg.jpg") ;
        display: flex;
        justify-content: center;
        align-items: center;
        height:75vh;
        background-size: cover;
        
        flex-direction: row;
        /* background-color: aqua; */
        
    }
    


  
    .imgcaption{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2% 2% 2% 2%;
        width: 50%;
        backdrop-filter: blur(10px);
        background-color: rgba(204, 193, 178, 0.4) ;
        
        
        
        font-size: 1.2vw;
        border-radius: 20px;
        
    }
    