.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 3;
    
}


.nav{
    background-color: rgb(255, 136, 0);
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-between;
    padding-left: 5%;
    padding-right: 3%;
 


}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3vw;
    color: white;

}



.menu{
display: flex;
flex-direction: row;
height: 100%;
justify-content: flex-end;
list-style-type: none;
flex: 6;
}
.button{
    width: auto;
    display:inline-flex;
    padding: 1% 1% 1% 1%;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    color: white;
}
.button img{
    width: 2vw;

}




.content{
    height: 75%;
    
}



.footer{
    height: 15%;   
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: flex-between;
    flex: 2;  padding-left: 3%;
    
}
.footcon{
    justify-content: center;
    font-size: 0.8vw;
    color: white;
    width: auto;

}





