
.container{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    height: 100%;
   
}
.big-title{
    font-size: 3rem;
    color: white;
    background-color: crimson;
}
