.profile-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: auto;
   

}
.user-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 80%;
    border-radius: 50px;
    border: 2px solid rgb(255, 115, 0);
    margin: 2% 10% 2% 10% ;
    background-color: white;
   
   
}

.user-profile{
    
    
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.user-img{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    
    height: 100%;
   
    font-size: 2vw;
    
    
    
}
.user-img img{
    width: 60%;
    height: auto;
    border-radius:50%;
    margin: 5%;
}


.user-data{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 60%; 
    padding-left: 2%;
   
    border-left: 2px solid rgb(255, 115, 0);
    height: 90%;
   
}


.user-order{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 95%;
   
       
       
    
}