.profile-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 75vh;
   

}
.user-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 90%;
    width: 50%;
    border: 2px solid darkorange;
    margin: 2% 10% 2% 10% ;
    border-radius: 50px;
   
}

.user-img{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: rgb(255, 115, 0);
    height: 100%;
    border-radius: 50px 0px 0px 50px;
    font-size: 2vw;
    color: white;
    
}
.user-img img{
    width: 70%;
    height: auto;
    border-radius:50%;
    margin: 5%;
}


.user-data{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 70%; 
    margin: 2vw;
   
    background-color: white;
    height: 100%;
    border-radius: 0px 50px 50px 0px;
}


.user-order{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 90%;
    width: 50%;
    border: 2px solid darkorange;
    margin: 2% 10% 2% 10% ;
    border-radius: 50px;
}